*{
    box-sizing: border-box;
    overflow:auto;
  }
  h1 {color:rgb(231, 19, 19);}
  body {background-image: url(back1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
      text-align:center;
  }
  
  div {
    border:1px solid rgb(77, 255, 77);
    margin-top:20px;
}

#problem {
    
    width: 90%;
    margin:auto;
    margin-top:20px;
    height:80px;
    text-align:left;
    color:rgb(255, 9, 9);
    font-family:Luminary, cursive;
    font-size:15px;
    padding-left:20px;
    padding-right:20px;
}

  footer{color: chartreuse;
      margin-top:20px;
      text-align:center;
      font-size:10px;
  }
  
  /* Responsive layout - makes the three columns stack 
  on top of each other instead of next to each other */
    img {
      width: 100%;
      height: auto;
      margin-top:5px;
      padding: 2px;
      display: none;
    }
  
   [class*="column"] { 
       width: 100%;
       display:inline-block;
       height:60vh;
    }
  
    header nav button{ background-color: black;
        width:18%;
        font-size:8px;
        color:rgb(49, 255, 49);
    }
    button:hover{background-color: cyan;
      color:navy;
border-color: red;
    }

    
  
  @media screen and (min-width:600px) {
    [class*="column"] {
      width:32%;
    }
    
    header nav button{ 
      width:9%;
      font-size:1.2vw;
    }
  }
 